yaeba/yaeba-ws-soap/src/main/webapp/wsdl/compte.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/excilys/formation/yaeba/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Compte" targetNamespace="http://com/excilys/formation/yaeba/ws">
	<wsdl:types>
		<xsd:schema targetNamespace="http://com/excilys/formation/yaeba/ws">

			<xsd:element name="getCompteByNumero">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numero" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getCompteByNumeroResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="info" type="tns:infoCompte"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="passerVirement">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="crediteur" type="xsd:string"/>
						<xsd:element name="debiteur" type="xsd:string"/>
						<xsd:element name="montant" type="xsd:double"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="passerVirementResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="virement" type="tns:infoVirement"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="infoCompte">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int"/>
					<xsd:element name="numero" type="xsd:string"/>
					<xsd:element name="libelle" type="xsd:string"/>
					<xsd:element name="solde" type="xsd:double"/>
					<xsd:element name="pending" type="xsd:double"/>
					<xsd:element name="previsional" type="xsd:double"/>
					<xsd:element name="utilisateur" type="tns:infoUtilisateur"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="compteDetails"/>

			<xsd:complexType name="infoUtilisateur">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int"/>
					<xsd:element name="prenom" type="xsd:string"/>
					<xsd:element name="nom" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="infoVirement">
				<xsd:sequence>
					<xsd:element name="debiteur" type="tns:infoCompte"/>
					<xsd:element name="crediteur" type="tns:infoCompte"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="getCompteByNumeroRequest">
		<wsdl:part element="tns:getCompteByNumero" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getCompteByNumeroResponse">
		<wsdl:part element="tns:getCompteByNumeroResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="passerVirementRequest">
		<wsdl:part element="tns:passerVirement" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="passerVirementResponse">
		<wsdl:part element="tns:passerVirementResponse" name="parameters"/>
	</wsdl:message>
	
	<wsdl:portType name="Compte">
		<wsdl:operation name="getCompteByNumero">
			<wsdl:input message="tns:getCompteByNumeroRequest"/>
			<wsdl:output message="tns:getCompteByNumeroResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name="Virement">
		<wsdl:operation name="passerVirement">
			<wsdl:input message="tns:passerVirementRequest"/>
			<wsdl:output message="tns:passerVirementResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="CompteSOAP" type="tns:Compte">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCompteByNumero">
			<soap:operation soapAction="http://com/excilys/formation/yaeba/ws/getCompteByNumero"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="VirementSOAP" type="tns:Virement">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="passerVirement">
			<soap:operation soapAction="http://com/excilys/formation/yaeba/ws/passerVirement"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Compte">
		<wsdl:port binding="tns:CompteSOAP" name="CompteSOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="Virement">
		<wsdl:port binding="tns:VirementSOAP" name="VirementSOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
